@import url('https://fonts.googleapis.com/css?family=Oswald|Lora');
body{max-width:1280px;
margin:auto;
padding:20px;
text-align:justify;
line-height:140%;
-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-smoothing:antialiased;
color:#222;
font-family:Lora,"Times New Roman",serif; font-size:20px;}
.headroom { 
will-change: transform; transition: transform 200ms linear; 
position:fixed;top:0;left:0;right:0;z-index:10;
} 
.headroom--pinned { transform: translateY(0%); } 
.headroom--unpinned { transform: translateY(-120%); }
